<div class="contacts" id="contacts">
  <div class="container">
    <div class="contacts_wrapper">
      <h2>Наши контакты</h2>
      <div class="contacts_phone">
        <img src="/assets/images/smartphone.png" />
        <div>
          <a
            class="contacts_phone-number"
            href="tel:+380933048343"
            value="+380933048343"
            target="_blank"
          >
            +38 (093) 304-83-43
          </a>
          <p><span class="contacts_phone-messenger">Viber/Telegram</span></p>
        </div>
      </div>
      <div class="contacts_phone">
        <img src="/assets/images/smartphone.png" />
        <div>
          <a
            class="contacts_phone-number"
            href="tel:+380667564651"
            value="+380667564651"
            target="_blank"
          >
            +38 (066) 756-46-51
          </a>
          <p><span class="contacts_phone-messenger">Viber/Telegram</span></p>
        </div>
      </div>
      <div class="contacts_social">
        <a href="#" data-tool-tip="Мы в Инстаграм"
          ><img src="/assets/images/insta-icon.png"
        /></a>
        <a href="#" data-tool-tip="Мы в Телеграм"
          ><img src="/assets/images/telegram-icon.png"
        /></a>
      </div>
    </div>
  </div>
</div>
