<div class="hero">
  <div class="container">
    <h2 class="hero_headline headline2">
      Чистый звук - отличный микрофон. Только представьте себе удобство
      использования
    </h2>
    <div class="hero_wrapper">
      <p class="hero_text">
        Звук AirPods Pro при прослушивании музыки раскрывает всю широту сцены,
        необъятную палитру мелодий и дает услышать самые мелкие детали. Наушники
        прекрасно подходят для ежедневного использования: прослушивания музыки,
        просмотра фильмов и видео, ну и конечно же для телефонных разговоров.
      </p>
    </div>
    <a class="hero_button buy-button" href="#">Купить AirPods Pro</a>
  </div>
</div>
