<div class="major" id="major">
  <div class="container">
    <div class="major_wrapper-white">
      <div class="major_text">
        <h1>Слушай превосходное звучание AirPods Pro</h1>
        <br />
        <p>
          <span class="major_text-span">
            Лучшие беспроводные наушники Original 1:1
          </span>
        </p>
        <br />
        <a class="major-button-blue buy-button" href="#">
          Купить Airpods Pro
        </a>
      </div>
      <div class="major_image-wrapper">
        <img class="major_image-product" src="/assets/images/main-item.png" />
      </div>
    </div>
  </div>
</div>
