<div class="navigation">
  <img class="navigation_logo" src="/assets/images/AirPods-Store.png" />
  <div class="navigation-divider">
    <img class="navigation_cart" src="/assets/images/cart.png" />
    <div class="container">
      <div class="navigation_wrapper">
        <div class="navigation_buttons">
          <ul class="navigation_list">
            <li class="navigation_list-item">
              <a href="#specs">Характеристики</a>
            </li>
            <li class="navigation_list-item">
              <a href="#perks">Наши преимущества</a>
            </li>
            <li class="navigation_list-item">
              <a href="#contacts">Контакты</a>
            </li>
            <li class="navigation_list-item">
              <a href="#reviews">Отзывы</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="navigation_text">
      <p>
        Успей купить AirPods Pro
        <span class="navigation_text-span"> со скидкой</span>
      </p>
      <div class="navigation_timer">
        <div id="days"></div>
        <div id="hours"></div>
        <div id="minutes"></div>
        <div id="seconds"></div>
      </div>
      <div>
        <a class="navigation_button buy-button" href="#">Купить Airpods Pro</a>
      </div>
    </div>
  </div>
</div>
