<div class="perks" id="perks">
  <div class="container">
    <h3 class="perks__headline">Наши преимущества</h3>
    <div class="perks__reasons">
      <div class="perks__reasons-card">
        <div class="perks__reasons-card-image">
          <img src="/assets/images/box.png" />
        </div>
        <div class="perks__reasons-card-content">
          <h4 class="perks__reasons-card-headline">
            Быстрая доставка по всей Украине
          </h4>
          <p>
            <span class="perks__reasons-card-content-text">
              Доставляем Новой почтой по всей Украине (1-2 дня). При оформлении
              заказа до 16:00 отправка в тот же день
            </span>
          </p>
        </div>
      </div>
      <div class="perks__reasons-card">
        <div class="perks__reasons-card-image">
          <img src="/assets/images/wallet.png" />
        </div>
        <div class="perks__reasons-card-content">
          <h4 class="perks__reasons-card-headline">Удобная оплата</h4>
          <p>
            <span class="perks__reasons-card-content-text">
              Наложенный платеж с предоплатой 100 грн. на карту «Приват» или
              «Моно» банка
            </span>
          </p>
        </div>
      </div>
      <div class="perks__reasons-card">
        <div class="perks__reasons-card-image">
          <img src="/assets/images/wallet.png" />
        </div>
        <div class="perks__reasons-card-content">
          <h4 class="perks__reasons-card-headline">Гарантия и возврат</h4>
          <p>
            <span class="perks__reasons-card-content-text">
              Гарантия 12 месяцев.Возврат в течении 14 дней, если сохранен
              товарный вид упаковки
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
