<div class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews_headline">Отзывы</h2>
    <div class="reviews_wrapper">
      <div class="reviews_screenshot">
        <img src="/assets/images/review1.png" />
      </div>
      <div class="reviews_screenshot">
        <img src="/assets/images/review2.png" />
      </div>
      <div class="reviews_screenshot">
        <img src="/assets/images/review3.png" />
      </div>
      <div class="reviews_screenshot">
        <img src="/assets/images/review4.png" />
      </div>
    </div>
    <a href="#" class="reviews_button-blue buy-button">Купить Airpods Pro</a>
  </div>
</div>
