<div class="specs" id="specs">
  <div class="container">
    <div class="specs__wrapper">
      <div class="specs__product">
        <img class="specs__product-image" src="/assets/images/product.png" />
        <div class="specs__product-text">
          <p>
            <span class="specs__product-headline">
              Наушники AirPods Pro (1:1 original)
            </span>
          </p>
          <p><span class="specs__product-old-price"> 3 000 грн </span></p>
          <p><span class="specs__product-new-price"> 1 799 грн </span></p>
          <br />
          <div class="specs__product-buy">
            <p>
              <span class="specs__product-guarantee"> Гарантия 12 мес. </span>
            </p>
            <a href="#" class="specs__product__button-blue buy-button"
              >Купить со скидкой</a
            >
          </div>
        </div>
      </div>
      <div class="specs__char">
        <h2 class="specs__char-headline headline2">
          Характеристики Airpods Pro
        </h2>
        <div class="specs__char-lists">
          <ul>
            <li>
              <div class="specs__char-lists-item">
                <img
                  src="./assets/images/blt-icon.svg"
                  style="height: 32px; padding: 0"
                />
                <h4>Bluetooth 5.0</h4>
              </div>
            </li>
            <li>
              <div class="specs__char-lists-item">
                <img
                  src="./assets/images/phone-icon.svg"
                  style="height: 32px; padding: 0"
                />
                <h4>iOS и Android совместимость</h4>
              </div>
            </li>
            <li>
              <div class="specs__char-lists-item">
                <img
                  src="./assets/images/battery-icon.svg"
                  style="height: 32px; padding: 0"
                />
                <h4>До 10 часов работы</h4>
              </div>
            </li>
            <li>
              <div class="specs__char-lists-item">
                <img
                  src="./assets/images/pop-up-icon.svg"
                  style="height: 32px; padding: 0"
                />
                <h4>Pop-up</h4>
              </div>
            </li>
          </ul>
          <ul>
            <li>
              <div class="specs__char-lists-item">
                <img
                  src="./assets/images/gps-icon.svg"
                  style="height: 32px; padding: 0"
                />
                <h4>GPS</h4>
              </div>
            </li>
            <li>
              <div class="specs__char-lists-item">
                <img
                  src="./assets/images/charge-icon.svg"
                  style="height: 32px; padding: 0"
                />
                <h4>Беспроводная зарядка</h4>
              </div>
            </li>
            <li>
              <div class="specs__char-lists-item">
                <img
                  src="./assets/images/ear-icon.svg"
                  style="height: 32px; padding: 0"
                />
                <h4>Автоопределение уха</h4>
              </div>
            </li>
            <li>
              <div class="specs__char-lists-item">
                <img
                  src="./assets/images/touch-icon.svg"
                  style="height: 32px; padding: 0"
                />
                <h4>Настройка сенсорных кнопок</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
