.navigation {
  background-color: $backgroundDarkColor;
  color: $fontColor;
  padding: 0;
  margin: 0;
  height: fit-content;

  &_logo {
    padding: 1rem;
    position: absolute;
  }
  &_cart {
    position: absolute;
    margin-left: 95%;
    margin-top: 0.25rem;
    height: 40px;
    width: 40px;
  }
  &_cart:hover {
    border-radius: 50%;
    border: 2px solid #54acfd;
    box-sizing: border-box;
  }

  &-divider {
    border-bottom: 1px solid grey;
  }

  &_timer {
    display: inline-flex;
  }

  &_list {
    width: 100%;
    display: flex;
    justify-content: space-around;

    &-item {
      list-style: none;
      padding: 0.5rem;
    }
    &-item a:hover {
      color: #54acfd;
    }
  }
  &_wrapper {
    margin: auto;
  }
  &_text {
    padding: 0.5rem;
    font-family: Roboto;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    display: flex;
    width: 100%;
    justify-content: space-around;

    &-span {
      color: red;
      margin-left: 6px;
    }
  }

  &_button {
    position: relative;
    padding: 0.5rem;
    border: 1px solid blue;
    border-radius: 4px;
    margin-left: 2rem;
    left: 150px;
    font-weight: 500;
  }

  &_button:hover {
    background-color: #54acfd;
    box-shadow: 0 5px 13px rgba(51, 74, 67, 0.4);
    font-weight: 500;
    box-sizing: border-box;
  }
}
.navigation a {
  text-decoration: none;
  color: #ffff;
  font-size: 1rem;
  line-height: 2rem;
}
#days {
  margin-left: 0.5rem;
  padding: 0.2rem;
  background-color: #c6cbd2;
  color: black;
  font-weight: 700;
  display: inline-block;
  width: 4rem;
}
#hours {
  margin-left: 0.4rem;
  padding: 0.2rem;
  background-color: #c6cbd2;
  color: black;
  font-weight: 700;
  display: inline-block;
  width: 5rem;
}
#minutes {
  margin-left: 0.4rem;
  padding: 0.2rem;
  background-color: #c6cbd2;
  color: black;
  font-weight: 700;
  display: inline-block;
  width: 5rem;
}
#seconds {
  margin-left: 0.4rem;
  padding: 0.2rem;
  background-color: #c6cbd2;
  color: rgb(192, 0, 0);
  font-weight: 700;
  display: inline-block;
  width: 5.5rem;
}
@media screen and (max-width: 1024px) {
  .navigation {
    &_button {
      display: none;
    }
  }

}
@media screen and (max-width: 768px) {
  .navigation {
    height: max-content;
    padding-top: 10px;

    &-divider {
      display: none;
    }

    &_wrapper {
      display: none;
    }
    &_text {
      margin-left: 15%;
      display: flex;
      flex-shrink: 2;
      align-items: center;
    }
    &_text-span {
      display: inline-block;
      }

    &_timer > * {
      height: max-content;
    }
    &_button {
      display: none;
    }
    &_cart {
      display: none;
    }
  }
}
