.specs {
  background: #1d1d1f;
  width: 100%;
  height: fit-content;
  padding-bottom: 4rem;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
  }

  &__product {
    background: #fdfdfd;
    width: clamp(400px, 40%, 550px);
    height: 40%;
    margin-top: 4rem;
    /* Card shadow */
    box-shadow: 0 10px 30px rgba(103, 117, 131, 0.25),
      0 2px 6px rgba(103, 117, 131, 0.1);
    border-radius: 8px;

    &-image {
      display: inline-block;
      margin: auto;
      padding: 1rem;
    }
    &-buy {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 5px;
    }
    &-guarantee {
      display: inline-block;
      font-family: Roboto, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      margin-top: 22px;
      vertical-align: sub;
      letter-spacing: 0.2px;
      color: #828282;
    }
    &-text {
      margin: 1rem;
    }

    &-headline {
      font-family: Roboto, serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.2px;
      color: #000000;
    }

    &-old-price {
      font-family: Roboto, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.2px;
      text-decoration-line: line-through;
      color: #828282;

      display: inline-block;
      margin-top: 15px;
    }

    &-new-price {
      font-family: Roboto, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 0.2px;
      color: #f13b3b;
    }

    &__button-blue {
      position: relative;
      display: inline;
      text-decoration: none;
      padding: 14px 20px;
      color: #ffffff;
      font-family: Roboto, serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      background: linear-gradient(90deg, #0987ce 0%, #0d5fbf 100%);
      box-shadow: 0 5px 13px rgba(51, 74, 67, 0.4);
      border-radius: 4px;
    }
    &__button-blue:hover {
      background: #54acfd;
    }
  }

  &__char {
    // margin-left: 9rem;
    margin-top: 6rem;
    width: clamp(300px, 50%, 550px);

    &-lists {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;

      &-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
      }
    }

    &-lists ul {
      list-style: none;
      padding-top: 1rem;
      max-width: 18rem;
    }

    &-lists li {
      font-family: Roboto, serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding: 1rem 1rem 1rem 0;
      letter-spacing: 0.2px;
      color: #ffffff;
    }
    &-lists li:first-child {
      padding-top: 0;
    }
  }
}
